$flatcat-primary-light: #d4d4d4;
$flatcat-primary-pastell: #6e7471;
$flatcat-primary: #616362;
$flatcat-primary-dark: #4d4d4d;

$flatcat-secondary: #2c3947;
$flatcat-secondary-dark: #516a6e;
$flatcat-secondary-darker: #4d8895;
$flatcat-secondary-darkest: #181f24;

$flatcat-milky-background: #eff0e7;