$flatcat-primary-light: #d4d4d4;
$flatcat-primary-pastell: #eeeeee;
$flatcat-primary: #616362;
$flatcat-primary-dark: #828282;

$flatcat-secondary: #2c3947;
$flatcat-secondary-dark: #484d6c;
$flatcat-secondary-darker: #4d6995;
$flatcat-secondary-darkest: #181f24;

$flatcat-milky-background: #ffffff;